<div class="container">
  <h2>LUFTBORN</h2>
  
  <!-- Buttons for navigation -->
  <div class="button-group">
    <button class="btn btn-primary" routerLink="/" [routerLinkActive]="'active'">User Create</button>
    <button class="btn btn-primary" routerLink="/ProductCreate" [routerLinkActive]="'active'">Product Create</button>
    <button class="btn btn-primary" routerLink="/ProductList" [routerLinkActive]="'active'">Product List</button>
    <button class="btn btn-primary" routerLink="/UserList" [routerLinkActive]="'active'">User List</button>
  </div>
  
  <!-- Routed content -->
  <router-outlet></router-outlet>
</div>

<router-outlet />